<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectString" value="server=.\SQLEXPRESS;Database=Octopus;User=sa;Password=123;Connect Timeout=6000;User Instance=False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>